Source: calamares-settings-slimbook
Section: utils
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.4
Homepage: https://slimbook.es

Package: calamares-settings-slimbook
Architecture: all
Depends: calamares
Description: Slimbook calamares
 Slimbook calamares settings



